h1 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 210px;
    margin: 5rem auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3rem;
}

.container div{
    color: black;
    border-bottom: 1px solid darkgray;
    border-right: 1px solid darkgray;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.container div:hover{
    background-color: rgb(191, 255, 255);
}

.container div[col='2']{
    border-right: none;
}

.container div[line='2']{
    border-bottom: none;
}

button{
    display: block;
    min-width: 100px;
    margin: 0 auto;
}